* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
	text-decoration: none;
}
.padding0 {
	padding: 0 !important;
}

.skin {
	background-color: grey;
	padding-top:5px;
}

/*------------------------------ */

.leftaside {
	width: 100%;
	min-height: 560px;
	margin: 0;
	background-color: white;
}
.rightaside {
	width: 100%;
	min-height: 560px;
	margin: 0;
	padding: 0;
	background-color: white;
}
.navstyles {
	text-align: center !important;;
	min-height: 365px;
	width: 100%;
	line-height: 2.8;
	margin: 3px;
	padding: 10px;
}
.medlink {
	text-align: center;
	font-size: 12px;
	padding-top: 8px;
	color: black;
}
.greenheader {
	position: relative;
	background-color: #00544e;
	min-height: 180px;
	margin: 0;
}
.medsummit18 {
	padding: 15px;
	color: white;
	text-align: left;
	padding-top: 12px;
	margin: 0;
	font-size: 32px;
}
svg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 90px;
	border: 0;
}
header {
	border: 0;
}

.contuctus__outer {
	display: table;
	height: 11px;
	width: 101%;
	background-color: #1f0000;
	margin: 0;
}
.contuctus__inner {
	display: table-cell;
	vertical-align: bottom;
	bottom: 0;
	width: 100%;
	line-height: 3.1;
	color: white;
	font-weight: 700;
	font-size: 16px;
	margin: 0;
	text-align: center;
/*	border: 1px solid #1f0000;*/
}

/*------------------------------ */

.kualalumpur {
	background-image: url(kuala-lumpur-1820944_1920.jpg);
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	min-height: 440px;
	width: 100%;
	text-align: center;
	color: #ddd;
}
.worldlargest {
	text-align: right;
	padding-top: 10px;
	padding-right: 20px;
	height: 10%;
}
.emptystring {
	text-align: center;
	height: 160px;
}
.date {
	text-align: center;
	height: 10%;
	line-height: 3;
}
.fontsize {
	font-size: 24px;
	font-weight: 100;
}

/*------------------------------ */

.speakerslist {
	text-align: center;
	display: flex;
	justify-content: space-around;
	position: relative;
	border-left: 1px solid darkcyan;
	width: 100%;
	min-height: 126px;
	margin: 0;
}
.speakerslist__title {
	display: block;
	width: 100%;
	text-align: left;
	padding: 8px;
	font-weight: 800;
	font-size: 11px;
	border-left: 1px solid darkcyan;
}
.speakerslist__onespeaker {
	display: inline-block;
	width: 75px;
}
.speakerslist__onespeaker_prof {
	font-size: 8px;
	color: darkcyan;
	font-weight: 700;
}
.speakerslist__onespeaker_name {
	font-size: 10px;
	padding-top: 8px;
}
.blueline {
	background-color: darkcyan;
	width: 25px;
	height: 2px;
	margin-top: 2px;
	margin-bottom: 3px;
}
.speakerslist__onespeaker_become {
	font-weight: 800;
	font-size: 12px;
	color: black;
	padding-top: 10px;
	padding-bottom: 30px;
	text-align: center;
}

/* planchet */

@media only screen and (min-width: 581px) and (max-width: 1024px) {
	.date {
		line-height: 1;
	}
	.medsummit18 {
		font-size: 32px;
		text-align: center;
	}
	.fontsize {
		font-size: 24px;
	}
	.contuctus__outer {
		width: 100%;
	}
}

/* smartphone */

@media only screen and (max-width: 580px) {
	.fontsize {
		font-size: 21px;
	}
	.medsummit18 {
		text-align: center;
		font-size: 24px;
	}
	.contuctus__outer {
		width: 100%;
	}
	.speakerslist {
		display: inline-block;
	}
	.speakerslist__onespeaker {
		width: 45%;
	}
	.speakerslist__onespeaker_prof {
		font-size: 12px;
		text-align: center;
	}
	.speakerslist__onespeaker_name {
		font-size: 14px;
		text-align: center;
	}
	.blueline {
		background-color: darkcyan;
		width: 98%;
	}
}
